body, ul, li, p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    margin-top: 100px;
}

a {
    text-decoration: none;
    color: white;
}

img {
    max-width: 100%;
    display: block;
}

.header {
    background: #1d1e20;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    flex-wrap: wrap;
}

.menu {
    display: flex;
}

.menu li {
    margin-left: 10px;
}

.menu li a {
    display: block;
    padding: 10px;
}

/*CSS Flexbox 1*/

.flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}

.flex > div {
    flex: 1 1 200px;
    margin: 30px;
    text-align: center;
    background: whitesmoke;
}

.img2 {
    margin-bottom: auto;
}

/*CSS GRID 1*/

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 720px;
    margin: 0 auto;
    grid-gap: 20px;
    text-align: center;
    
}

.grid > div:nth-child(n + 1){
    display: grid;
    background: whitesmoke;
    border: 1px solid black;
}

.grid > div:nth-child(2){
    max-height: 100%;
    background: whitesmoke;
    border: 1px solid black;
    image-resolution: 182.415 x 129.401;
}